<template>
    <slick
        :options="slickOptions"
        @afterChange="afterChangeHandler"
        @beforeChange="beforeChangeHandler"
        @breakpoint="breakpointHandler"
        @destroy="destroyHandler"
        @edge="edgeHandler"
        @init="initHandler"
        @reInit="reInitHandler"
        @setPosition="setPositionHandler"
        @swipe="swipeHandler"
        @lazyLoaded="lazyLoadedHandler"
        @lazyLoadError="lazyLoadErrorHandler"
    >
        <slot></slot>
    </slick>
</template>
<script>
    import slick from 'vue-slick';
    import 'slick-carousel/slick/slick.css';

    export default {
        name: 'slick-carousel',
        components: {
            slick,
        },
        props: {
            id: {},
            accessibility: {
                default: true,
            },
            adaptiveHeight: {},
            appendArrows: {},
            appendDots: {},
            arrows: {
                default: true,
            },
            autoplay: {},
            autoplaySpeed: {
                default: 3000,
            },
            centerMode: {},
            centerPadding: {
                default: '50px',
            },
            cssEase: {
                default: 'ease',
            },
            // customPaging: {},
            dots: false,
            dotsClass: {
                default: 'slick-dots',
            },
            draggable: {
                default: true,
            },
            easing: {
                default: 'linear',
            },
            edgeFriction: {
                default: 0.15,
            },
            fade: {},
            focusOnSelect: {},
            focusOnChange: {},
            infinite: {
                default: true,
            },
            initialSlide: {
                default: 0,
            },
            lazyLoad: {
                default: 'progressive',
            },
            mobileFirst: {},
            nextArrow: {},
            pauseOnDotsHover: {},
            pauseOnFocus: {
                default: true,
            },
            pauseOnHover: {
                default: true,
            },
            prevArrow: {},
            respondTo: {
                default: 'window',
            },
            responsive: {
                default: '{}',
            },
            rows: {
                default: 1,
            },
            rtl: {},
            slide: {},
            slidesPerRow: {
                default: 1,
            },
            slidesToScroll: {
                default: 1,
            },
            slidesToShow: {
                default: 1,
            },
            speed: {
                default: 300,
            },
            swipe: {
                default: true,
            },
            swipeToSlide: {},
            touchMove: {
                default: true,
            },
            touchThreshold: {
                default: 5,
            },
            useCSS: {
                default: true,
            },
            useTransform: {
                default: true,
            },
            variableWidth: {},
            vertical: {},
            verticalSwiping: {},
            waitForAnimate: {
                default: true,
            },
            zIndex: {
                default: 1000,
            },
            randomize: {
                default: false,
            },
        },
        computed: {
            slickOptions(){
                return {
                    accessibility: this.getBoolean(this.accessibility),
                    adaptiveHeight: this.getBoolean(this.adaptiveHeight),
                    appendArrows: this.appendArrows,
                    appendDots: this.appendDots,
                    arrows: this.getBoolean(this.arrows),
                    asNavFor: this.asNavFor,
                    autoplay: this.getBoolean(this.autoplay),
                    autoplaySpeed: parseInt(this.autoplaySpeed),
                    centerMode: this.getBoolean(this.centerMode),
                    centerPadding: this.centerPadding,
                    cssEase: this.cssEase,
                    // customPaging: this.customPaging,
                    dots: this.getBoolean(this.dots),
                    dotsClass: this.dotsClass,
                    draggable: this.getBoolean(this.draggable),
                    easing: this.easing,
                    edgeFriction: parseInt(this.edgeFriction),
                    fade: this.getBoolean(this.fade),
                    focusOnSelect: this.getBoolean(this.focusOnSelect),
                    focusOnChange: this.getBoolean(this.focusOnChange),
                    infinite: this.getBoolean(this.infinite),
                    initialSlide: parseInt(this.initialSlide),
                    lazyLoad: this.lazyLoad,
                    mobileFirst: this.getBoolean(this.mobileFirst),
                    nextArrow: this.nextArrow,
                    pauseOnDotsHover: this.getBoolean(this.pauseOnDotsHover),
                    pauseOnFocus: this.getBoolean(this.pauseOnFocus),
                    pauseOnHover: this.getBoolean(this.pauseOnHover),
                    prevArrow: this.prevArrow,
                    respondTo: this.respondTo,
                    responsive: JSON.parse(this.responsive)[0],
                    rows: parseInt(this.rows),
                    rtl: this.getBoolean(this.rtl),
                    slide: this.slide,
                    slidesPerRow: parseInt(this.slidesPerRow),
                    slidesToScroll: parseInt(this.slidesToScroll),
                    slidesToShow: parseInt(this.slidesToShow),
                    speed: parseInt(this.speed),
                    swipe: this.getBoolean(this.swipe),
                    swipeToSlide: this.getBoolean(this.swipeToSlide),
                    touchMove: this.getBoolean(this.touchMove),
                    touchThreshold: parseInt(this.touchThreshold),
                    useCSS: this.getBoolean(this.useCSS),
                    useTransform: this.getBoolean(this.useTransform),
                    variableWidth: this.getBoolean(this.variableWidth),
                    vertical: this.getBoolean(this.vertical),
                    verticalSwiping: this.getBoolean(this.verticalSwiping),
                    waitForAnimate: this.getBoolean(this.waitForAnimate),
                    zIndex: Number(this.zIndex),
                };
            },
        },
        methods: {
            afterChangeHandler(event, slick, currentSlide){
                document.dispatchEvent(new CustomEvent(this.id + 'afterchange', {
                    bubbles: true,
                    detail: {
                        event: event,
                        slick: slick,
                        currentSlide: currentSlide,
                    }
                }));
            },
            beforeChangeHandler(event, slick, currentSlide, nextSlide){
                document.dispatchEvent(new CustomEvent(this.id + 'beforechange', {
                    bubbles: true,
                    detail: {
                        event: event,
                        slick: slick,
                        currentSlide: currentSlide,
                        nextSlide: nextSlide,
                    }
                }));
            },
            breakpointHandler(event, slick, breakpoint){
                document.dispatchEvent(new CustomEvent(this.id + 'breakpoint', {
                    bubbles: true,
                    detail: {
                        event: event,
                        slick: slick,
                        breakpoint: breakpoint,
                    }
                }));
            },
            destroyHandler(event, slick){
                document.dispatchEvent(new CustomEvent(this.id + 'destroy', {
                    bubbles: true,
                    detail: {
                        event: event,
                        slick: slick,
                    }
                }));
            },
            edgeHandler(event, slick, direction){
                document.dispatchEvent(new CustomEvent(this.id + 'edge', {
                    bubbles: true,
                    detail: {
                        event: event,
                        slick: slick,
                        direction: direction,
                    }
                }));
            },
            initHandler(event, slick){
                document.dispatchEvent(new CustomEvent(this.id + 'init', {
                    bubbles: true,
                    detail: {
                        event: event,
                        slick: slick,
                    }
                }));
            },
            reInitHandler(event, slick){
                document.dispatchEvent(new CustomEvent(this.id + 'reinit', {
                    bubbles: true,
                    detail: {
                        event: event,
                        slick: slick,
                    }
                }));
            },
            setPositionHandler(event, slick){
                document.dispatchEvent(new CustomEvent(this.id + 'setposition', {
                    bubbles: true,
                    detail: {
                        event: event,
                        slick: slick,
                    }
                }));
            },
            swipeHandler(event, slick, direction){
                document.dispatchEvent(new CustomEvent(this.id + 'swipe', {
                    bubbles: true,
                    detail: {
                        event: event,
                        slick: slick,
                        direction: direction,
                    }
                }));
            },
            lazyLoadedHandler(event, slick, image, imageSource){
                document.dispatchEvent(new CustomEvent(this.id + 'lazyloaded', {
                    bubbles: true,
                    detail: {
                        event: event,
                        slick: slick,
                        image: image,
                        imageSource: imageSource,
                    }
                }));
            },
            lazyLoadErrorHandler(event, slick, image, imageSource){
                document.dispatchEvent(new CustomEvent(this.id + 'lazyloaderror', {
                    bubbles: true,
                    detail: {
                        event: event,
                        slick: slick,
                        image: image,
                        imageSource: imageSource,
                    }
                }));
            },
            shuffle(array) {
                if(Array.isArray(array)){
                    let currentIndex = array.length, temporaryValue, randomIndex;
                    while (0 !== currentIndex) {
                        randomIndex = Math.floor(Math.random() * currentIndex);
                        currentIndex -= 1;
                        temporaryValue = array[currentIndex];
                        array[currentIndex] = array[randomIndex];
                        array[randomIndex] = temporaryValue;
                    }
                }

                return array;
            },
            getBoolean(param){
                if(typeof param !== 'boolean'){
                    if(typeof param === 'string'){
                        param = param === 'true';
                    } else {
                        param = false;
                    }
                }

                return param;
            },
        },
        created() {
            if(this.$slots && this.$slots.default){
                this.shuffle(this.$slots.default);
            }
        },
    };
</script>

<style>
    .slick-carousel.image-carousel .slide {
        display: block !important;
    }
</style>