<template>
    <div id="app">
        <slick-carousel id="slider1" class="class1 slick-aaa" slides-to-show="3"
            responsive='{"0":[{"breakpoint":768,"settings":{"arrows": false}}]}'
        >
            <img class="1" src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350" alt="">
            <img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="">
            <img src="https://wallpaperbrowse.com/media/images/soap-bubble-1958650_960_720.jpg" alt="">
            <img src="https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg" alt="">
            <img src="https://media.istockphoto.com/photos/plant-growing-picture-id510222832?k=6&m=510222832&s=612x612&w=0&h=Pzjkj2hf9IZiLAiXcgVE1FbCNFVmKzhdcT98dcHSdSk=" alt="">
        </slick-carousel>
    </div>
</template>

<script>
    export default {
        name: 'app',
        created(){
            document.addEventListener('slider1init', function(e){
                // console.log(e);
            });
        }
    }
</script>
